@model IEnumerable<MVC5Course.Models.ViewModels.ProductLiteVM>

@{
    ViewBag.Title = "ListProducts";
}

<h2>ListProducts</h2>

@if (TempData["Create_Product_Result"] != null)
{
    <h1>@TempData["Create_Product_Result"]</h1>
}

<p>
    @Html.ActionLink("Create New", "CreateProduct")
</p>

@*<form method="post">*@
<form method="get">
    篩選：
    @Html.TextBox("q")
    庫存數量：
    @Html.TextBox("Stock_S", null, new { size = "10", type = "number" }) ~
    @Html.TextBox("Stock_E", null, new { size = "10", type = "number" })
    <button>搜尋</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
